* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    flex-wrap: wrap;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #794CA7;
    padding: 20px 5%;
    min-height: 120px;
    flex-wrap: wrap;
}

.logo img {
    height: 100px;
    width: 200px;
    cursor: pointer;
}

.navbar .nav-links:hover{
    transform: scale(1.1);

}

.nav-links {
    list-style: none;
    display: inline-flex;
    padding-right: 40px;
    
}

.nav-links li {
    margin: 0 15px;
    transition: all;
    cursor: pointer;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.nav-links a:hover{
    color: #333;
}

.nav-buttons {
    display: flex;
}

.btn {
    background-color: black;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 10px;
}

.btn:hover {
    background-color: #333;
}

.text-button {
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    flex: 1;
    margin-right: 10px;
  }
  
.logo-button img{
    max-width: 25px;
    max-height: 25px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
    object-fit: contain;
}

  /*container del contenido del cuerpo de la pagina*/
.container {
    display: flex;
    justify-content: center;
    height: calc(100vh - 120px);
    /*overflow: hidden; Añade esta propiedad para evitar el desplazamiento no deseado */
    min-height: 400px; /* Establece una altura mínima según tus necesidades */
}
  
.letrero1{
    color: #666666;
    font-size: 30px;
}

.letrero2{
    color: black;
    font-size: 50px;
    line-height: 1.5;
}

.letrero3{
    color: #BF53B4;
    font-size: 50px;
}

.letrero4{
    color:black;
    font-size: 20px;
}

.button {
    background-color: black;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
}

.button:hover {
    background: linear-gradient(to bottom right, #7d3cff, #ff3d7f);
}

.imageninf{
    width: 300px;
    height: auto;
    margin-bottom: 20px;
}

.seccion-text {
    flex: 1;
    width: 50%;
    height: 100%;

}
  
.map {
    flex: 1;
    width: 50%;
    height: 100%;
    padding: 0;
    border: 0;
    margin: 0;
    position: relative; /* Añade esta propiedad para que el iframe se base en este contenedor */
}

.map iframe {
    position: absolute; /* Añade esta propiedad para que el mapa ocupe el 100% del contenedor */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

@media(max-width:992px){
    .navbar{
        flex-direction: column;
        padding: 20px 0;
    }
    
    .letrero1 {
            font-size: 24px;
    }
    
    .letrero2 {
            font-size: 36px;
            line-height: 1.2;
    }
    
    .letrero3 {
            font-size: 36px;
    }
    
    .letrero4 {
            font-size: 16px;
    }
    
    .container {
            flex-direction: column;
            height: auto;
    }
    
    .seccion-text {
           
            width: 100%;
            padding: 20px;
    }

    .map {
        width: 100%;
        height: auto;
    }

    .map iframe {
        width: 100%;
        height: 300px; /* O cualquier altura que desees para el mapa en pantallas más pequeñas */
    }
}



  